.app-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid #61dafb;
    padding: 3rem;
    width: 60%;
}

.app-form h2 {
    font-weight: bold;
    color: #61dafb;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-actions span {
    padding: .5rem;
    border: 1px solid black;
    background: white;
    color: black;
    cursor: pointer;
}
.form-actions span:hover {
    background: grey;
    color: #61dafb;
    border: 1px solid #61dafb;
}
